body{
    text-align: center;
     background-color:lightpink;
}
button{
    background-color:darkgreen;
    color: azure;
    padding: 4px;
    font-weight: bold;
    width: 100px;
    border-radius: 5px;
  
}
















